.ReviewPanels {
  display: flex;
  flex-direction: row;
}

.ReviewApplicationPanel {
  flex: 1 1 auto;
  border-right: 1px solid #ccc;
}

.ReviewSidePanel {
  flex: 0 0 600px;
}

.Section {
  margin: 1em;
}

.Header {
  margin: 12px 0 !important;
}

.PercentageContainer {
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PercentageContainerText {
  margin: 4px 0;
  flex: 0 0 150px;
}

.PercentageBar {
  flex: 1 1 auto;
}

.Button {
  margin: 0 0.5em !important;
}

.AnswerText {
  width: 100%;
  word-wrap: break-word;
}
